{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="carousel">
        <img src="{{ url_for('static', filename='images/sunkissed.jpg') }}" class="carousel-image active" alt="Profile 1">
        <img src="{{ url_for('static', filename='images/undertree.jpg') }}" class="carousel-image " alt="Profile 2">
        <img src="{{ url_for('static', filename='images/standing.jpg') }}" class="carousel-image" alt="Profile 3">

    </div>
    <div>
        <h1 class="display-5 fw-bold text-body-emphasis">HI, YASWANTH HERE!</h1>
    </div>
    <!-- Centered Content -->
    <div class="center-content">
        <p>
            Aspiring Full-Stack Developer and Software Engineer skilled in Python, Django, Flask, JavaScript,
            HTML, CSS,and SQL. Hands-on experience building responsive web applications with Tailwind CSS, RESTFul APIs
            and Git for version control. Familiar with modern frameworks like Node.js, Express.js, and Angular.js. Eager
            to contribute to real-world projects, solve practical problems, and grow in collaborative development environments.
        </p>
    </div>

    <div class="buttons-container">
    <a href="{{ url_for('static', filename='Yaswanth_Babu_Resume.pdf') }}" target="_blank">
        <button type="button" class="btn btn-about btn-lg px-4">Resume</button>
    </a>
    <a href="{{ url_for('projects')}}">
        <button type="button" class="btn btn-projects btn-lg px-4">Projects</button>
    </a>
     <a href="{{url_for('about')}}">
        <button type="button" class="btn btn-projects btn-lg px-4">About</button>
    </a>
    </div>


</div>
{% endblock %}