{% extends 'base.html' %}
{% block title %}Projects{% endblock %}

{% block content %}
<h1>Projects</h1>

<div class="projects-container">
    <ul class="projects-list">
        <li class="project-item">
            <a href="https://weather-app-ma7h.onrender.com" target="_blank" class="project-link">
                <div class="project-card">
                    <h3 class="project-title">Weather App</h3>
                    <p class="project-description">A dynamic weather application built with modern web technologies</p>
                    <div class="project-tech">
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Django</span>
                        <span class="tech-tag">API</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="project-item">
            <a href="https://github.com/Yaswanthpatnam/Lost_and_found" target="_blank" class="project-link">
                <div class="project-card">
                    <h3 class="project-title">Lost & Found Portal</h3>
                    <p class="project-description">A Full Stack Web App to Search lost things.</p>
                    <div class="project-tech">
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Django</span>
                        <span class="tech-tag">SQL</span>
<!--                        <span class="tech-tag"></span>-->
                    </div>
                </div>
            </a>
        </li>
        <li class="project-item">
            <a href="https://github.com/Yaswanthpatnam/flask-comment-api" target="_blank" class="project-link">
                <div class="project-card">
                    <h3 class="project-title">flask-comment-api</h3>
                    <p class="project-description">A Backend API where user can add, edit, delete comments to task following CRUD</p>
                    <div class="project-tech">
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Flask</span>
                        <span class="tech-tag">Rest API</span>
                        <span class="tech-tag">POSTMAN</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
{% endblock %}